{% load static %}

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                AGENDA   
            {% endblock %}
            | Agenda Personal
        </title>

        <!--Cabecera de la pagina-->
        <div id="logotipo_notes">
            <!-- <img src="{% static 'images/logo.jpg' %}" /> -->
            <h1>AGENDA</h1>
            <hr/>
            <br/>                           
        </div>

        <ul id="lista1" class="enlaces_agenda">
            {% if user.email %}
                <li>
                    <a href="{% url 'create-note' %}">CREAR NOTA</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">LOG OUT</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">LOG IN</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">SIGN UP</a>
                </li>
            {% endif %}            
        </ul>
      
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
        
    <body>
        <!--Contenido de la pagina-->
                   
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% if user.email %}
                                
            <table class="notas">
                
                {% for note_cols in notes %}
                    <tr>
                        {% for note in note_cols %}
                            <td>
                                <div class="box_nota">
                                        <div id="actualizado">
                                            {{note.updated_at}}
                                        </div>  
                                                                       
                                    <div class="titulo_nota">
                                        <strong>{{note.title}}</strong>
                                    </div>
                                    
                                    <div class="rellenado">
                                        {{note.content}}
                                    </div>

                                    <div class="lista2">
                                        <a href="{% url 'note' id=note.id %}">Leer nota</a>
                                        <a href="{% url 'delete-note' id=note.id %}">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
            
        {% else %}
            <h2>Debes identificarte para acceder a tu Agenda</h2>
        {% endif %}
         
        <!--footer de la pagina-->
        <footer>
            Agenda Personal &copy; Alex J. Porras Romero 
        </footer>

    </body>

</html>